body{
  background:url(../images/back.jpg) fixed no-repeat;
  background-size:cover;
}

.logo, .navigation, .footer{
  height:100px;
  border:2px solid black;
}

.logo{
  background:url(../images/logo.svg) no-repeat;
  background-size:contain;
}

.left, .right, .main{
  height:calc(100vh - 200px);
  border:2px solid black;
}

@media (max-width: 992px){
  .logo{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
  }
  .navbar{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
  }
}