
body {
  background: url("../../assets/images/back.jpg") fixed no-repeat;
  background-size: cover;
}

.logo, .navigation {
  height: 100px;
}

.logo {
  background: url("../../assets/images/logo.svg") no-repeat;
  background-size: contain;
}

.accordion-item {
  background: #FFFFFF71;
  border: black solid 1px;
}

.accordion-button, .accordion-button:enabled {
  background: #FFFFFF71;
}

.sign, .sign:hover, .btn-question, .btn-question:hover {
  background-color: #198754;
  color: white;
}

.sign:hover, .btn-question:hover {
  border-color: #ffffff;
}

.form-column {
  background-color: #FFFFFF71;
  border: black solid 1px;
  border-radius: 10px;
  padding: 5px;
}

.footer {
  border: black solid 1px;
  border-radius: 10px;
  padding: 5px;
  background-color: #FFFFFF71;
}


@media (max-width: 992px) {
  .logo {
    order: 1;
  }
  .navbar {
    order: 2;
  }
}

@media  screen and (max-width: 768px) {
 .left {
   margin-inline: auto;
 }
}